.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 20px;
  margin-bottom: 10px;
}

.logo {
  height: 400px;
  width: auto;
}
