.container {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  height: 100vh;
  padding: 0 30px;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.table {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.row,.header,.footer {
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}

.buttons {
  text-align: right;
  width: 100px !important;
}

.header {
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: none !important;
  margin-bottom: 20px;
}

.column {
  padding: 20px 0;
  width: 18%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.button {
  background-color: white;
  color: green;
  border: 0.5px solid #7fd48f;
  border-radius: 3px;
  padding: 4px 12px;
  font-weight: bold;
  cursor: pointer;
}

.rightButton {
  margin-left: 20px;
}
