.container {
  margin: 0 auto;
  margin-top: 10px;
  max-width: 1200px;
  height: 100vh;
  padding: 0 30px;
  text-align: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.row {
  padding: 20px;
  font-size: 22px;
}

.error {
  font-size: 40px;
}
