.container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 1200px;
  padding: 0 30px;
  text-align: center;
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  font-size: 22px;
  text-align: center;
  width: 100%;
}

.row {
  margin-top: 22px;
  font-size: 22px;
}

.error {
  font-size: 40px;
}

.listRow {
  font-size: 20px !important;
  margin-top: 8px;
}

.image {
  border-radius: 30px;
}
